body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.app-background {
  height: 100%;
  width: 100%;
  background-image: url('/seamless.jpg'); 
  background-repeat: repeat; 

  /* background-size: 200px 150px;  */
  
  /* pointer-events: none; */
}
