body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dragging-container {
  height: 100vh;
  width: 100vw;

  position: relative;
  overflow: hidden;
  text-align: center;
}

.dragging-background {
  top: -100%;
  left: -100%;
  height: 300%;
  width: 300%;

  position: absolute;

  background-image: url('/seamless.jpg'); 
  background-repeat: repeat;
}
