body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dragging-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  text-align: center;
  transform: translate3d(0, 0, 0);
}

.dragging-background {
  top: -100%;
  left: -100%;
  height: 300%;
  width: 300%;

  position: absolute;

  background-image: url('/seamless.jpg'); 
  background-repeat: repeat;
  background-size: 50vw 50vh;
  filter: invert(1) hue-rotate(215deg);
}

.controls {
  bottom: 25px;
  left: 25px;
  position: absolute;
  background: white;
  box-shadow: gray 3px;
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.75);
  border-radius: 5px;
}

.controls-text {
  font-family: 'Roboto', sans-serif;
  padding-left: 12px;
}

.grabbable {
  cursor: grab;
}

.grabbable:active {
  cursor: grabbing;
}